<div id="header">
  <app-header></app-header>
</div>

<div class="container-fluid" id="main-content-row">
  <div class="row row-eq-height">
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-2 col-xl-2 trans" id="sidebar-column">
      <div id="sidebar">
        <app-sidebar-navigator></app-sidebar-navigator>
      </div>
    </div>
    <div class="col-12 col-sm-11 col-md-10 col-lg-10 col-xl-10  trans" id="main-content-column">
      <div id="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <app-footer></app-footer>
</div>
